/* Montserrat */
@font-face {
  font-family: "Montserrat";
  src: url("/src/fonts/MontserratRegular/Montserrat-Regular.eot");
  src: url("/src/fonts/MontserratRegular/Montserrat-Regular.woff")
    format("woff");
  src: url("/src/fonts/MontserratRegular/Montserrat-Regular.ttf")
    format("truetype");
  src: url("/src/fonts/MontserratRegular/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/fonts/MontserratBold/Montserrat-Bold.eot");
  src: url("/src/fonts/MontserratBold/Montserrat-Bold.woff") format("woff");
  src: url("/src/fonts/MontserratBold/Montserrat-Bold.ttf") format("truetype");
  src: url("/src/fonts/MontserratBold/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

/* Quicksand */
@font-face {
  font-family: "Quicksand";
  src: url("/src/fonts/QuicksandRegular/Quicksand-Regular.eot");
  src: url("/src/fonts/QuicksandRegular/Quicksand-Regular.woff") format("woff");
  src: url("/src/fonts/QuicksandRegular/Quicksand-Regular.ttf")
    format("truetype");
  src: url("/src/fonts/QuicksandRegular/Quicksand-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("/src/fonts/QuicksandBold/Quicksand-Bold.eot");
  src: url("/src/fonts/QuicksandBold/Quicksand-Bold.woff") format("woff");
  src: url("/src/fonts/QuicksandBold/Quicksand-Bold.ttf") format("truetype");
  src: url("/src/fonts/QuicksandBold/Quicksand-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
